<p id="notice"><%= notice %></p>

<h1>Lessions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Subject</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessions.each do |lession| %>
      <tr>
        <td><%= lession.name %></td>
        <td><%= lession.user %></td>
        <td><%= lession.subject %></td>
        <td><%= lession.city %></td>
        <td><%= link_to 'Show', lession %></td>
        <td><%= link_to 'Edit', edit_lession_path(lession) %></td>
        <td><%= link_to 'Destroy', lession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lession', new_lession_path %>
